* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.entryBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.inputField {
  margin: 5px;
  padding: 5px;
}

.submit {
  width: 70px;
  height: 35px;
  background-color: cornflowerblue;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
  outline: none;
  cursor: pointer;
}

.heading {
  display: flex;
  width: 100vw;
  background-color: cornflowerblue;
  justify-content: space-around;
}

.heading * {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-entry {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.single-entry * {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid black;
  border-left: 2px solid black;
  padding: 5px;
}
